<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] | CashFlow</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <script src="~/lib/htmx/htmx.js" asp-append-version="true"></script>
    <script src="~/lib/alpinejs/alpinejs.js" asp-append-version="true" defer></script>
</head>
<body hx-boost="true" class="h-full">

@RenderBody()

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>